In [2]:
# ============================================
# üîÑ DATA TRANSFORMATION
# Convert Wide Format to Long Format for SQL
# ============================================

import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import re

print("=" * 60)
print("üîÑ TRANSFORMING CLIMATE DATA")
print("=" * 60)

# ============================================
# Load Original Data
# ============================================
print("\nüìÇ LOADING ORIGINAL DATA")
print("-" * 60)

df_wide = pd.read_csv('/home/jovyan/data/climate_change_indicators.csv')
print(f"‚úÖ Loaded: {df_wide.shape[0]} countries √ó {df_wide.shape[1]} columns")

# ============================================
# Transform to Long Format
# ============================================
print("\nüîÑ TRANSFORMING TO LONG FORMAT")
print("-" * 60)

# Identify year columns (F1961, F1962, etc.)
year_columns = [col for col in df_wide.columns if col.startswith('F')]
print(f"Found {len(year_columns)} year columns: {year_columns[0]} to {year_columns[-1]}")

# Keep metadata columns
id_vars = ['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 
           'Unit', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']

# Melt the dataframe
df_long = pd.melt(
    df_wide,
    id_vars=id_vars,
    value_vars=year_columns,
    var_name='year_column',
    value_name='temperature_change'
)

# Extract year from column name (F1961 ‚Üí 1961)
df_long['year'] = df_long['year_column'].str.extract('(\d+)').astype(int)

# Drop the temporary column
df_long = df_long.drop('year_column', axis=1)

# Reorder columns
df_long = df_long[['ObjectId', 'Country', 'ISO2', 'ISO3', 'year', 
                   'temperature_change', 'Indicator', 'Unit', 
                   'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']]

# Remove rows with missing temperature data
df_clean = df_long.dropna(subset=['temperature_change']).copy()

print(f"‚úÖ Transformed to long format:")
print(f"   Original: {df_wide.shape[0]} rows √ó {df_wide.shape[1]} cols")
print(f"   New: {df_long.shape[0]:,} rows √ó {df_long.shape[1]} cols")
print(f"   After removing nulls: {df_clean.shape[0]:,} rows")

# ============================================
# Data Quality Check
# ============================================
print("\nüîç DATA QUALITY CHECK")
print("-" * 60)

print(f"\nYear range: {df_clean['year'].min()} to {df_clean['year'].max()}")
print(f"Number of countries: {df_clean['Country'].nunique()}")
print(f"Temperature range: {df_clean['temperature_change'].min():.3f}¬∞C to {df_clean['temperature_change'].max():.3f}¬∞C")

print("\nSample of transformed data:")
print(df_clean.head(10))

# ============================================
# Save Cleaned Data
# ============================================
print("\nüíæ SAVING CLEANED DATA")
print("-" * 60)

output_csv = '/home/jovyan/data/climate_data_long.csv'
df_clean.to_csv(output_csv, index=False)
print(f"‚úÖ Saved to: {output_csv}")
print(f"   Size: {len(df_clean):,} rows")

# ============================================
# Load to PostgreSQL
# ============================================
print("\nüóÑÔ∏è  LOADING TO POSTGRESQL")
print("-" * 60)

try:
    # Create connection
    engine = create_engine('postgresql://datascientist:climate2024@postgres:5432/climate_data')
    
    # Load to database
    print("Loading data... (this may take 30-60 seconds)")
    df_clean.to_sql(
        'climate_indicators',
        engine,
        if_exists='replace',  # Replace if table exists
        index=False,
        method='multi',
        chunksize=1000
    )
    
    print(f"‚úÖ Loaded {len(df_clean):,} rows to PostgreSQL!")
    
    # Verify
    with engine.connect() as conn:
        result = conn.execute("SELECT COUNT(*) FROM climate_indicators;")
        count = result.fetchone()[0]
        print(f"‚úÖ Verification: {count:,} rows in database")
        
        # Sample query
        result = conn.execute("""
            SELECT country, year, temperature_change 
            FROM climate_indicators 
            WHERE country = 'Spain'
            ORDER BY year DESC
            LIMIT 5;
        """)
        print("\nüìä Sample data (Spain - Last 5 years):")
        for row in result:
            print(f"   {row[1]}: {row[2]:.3f}¬∞C")
            
except Exception as e:
    print(f"‚ùå Error loading to PostgreSQL: {e}")

# ============================================
# Create Indexes
# ============================================
print("\nüîß CREATING INDEXES")
print("-" * 60)

try:
    with engine.connect() as conn:
        # Create indexes for better query performance
        conn.execute("CREATE INDEX IF NOT EXISTS idx_country ON climate_indicators(country);")
        conn.execute("CREATE INDEX IF NOT EXISTS idx_year ON climate_indicators(year);")
        conn.execute("CREATE INDEX IF NOT EXISTS idx_country_year ON climate_indicators(country, year);")
        conn.execute("CREATE INDEX IF NOT EXISTS idx_iso3 ON climate_indicators(iso3);")
        
        print("‚úÖ Indexes created successfully!")
except Exception as e:
    print(f"‚ö†Ô∏è  Index creation: {e}")

print("\n" + "=" * 60)
print("‚úÖ TRANSFORMATION & LOADING COMPLETE!")
print("=" * 60)
print("\nüìã DATABASE READY FOR:")
print("   - Phase 2.1: SQL Queries")
print("   - Phase 3: EDA")
print("   - Phase 4-6: Regression, Logistic, Clustering")
print("=" * 60)

============================================================
üîÑ TRANSFORMING CLIMATE DATA
============================================================

üìÇ LOADING ORIGINAL DATA
------------------------------------------------------------
‚úÖ Loaded: 225 countries √ó 72 columns

üîÑ TRANSFORMING TO LONG FORMAT
------------------------------------------------------------
Found 62 year columns: F1961 to F2022
‚úÖ Transformed to long format:
   Original: 225 rows √ó 72 cols
   New: 13,950 rows √ó 12 cols
   After removing nulls: 12,460 rows

üîç DATA QUALITY CHECK
------------------------------------------------------------

Year range: 1961 to 2022
Number of countries: 225
Temperature range: -2.062¬∞C to 3.691¬∞C

Sample of transformed data:
    ObjectId                            Country ISO2 ISO3  year  \
0          1       Afghanistan, Islamic Rep. of   AF  AFG  1961
1          2                            Albania   AL  ALB  1961
2          3                            Algeria   DZ  DZA  1961
3          4                     American Samoa   AS  ASM  1961
4          5           Andorra, Principality of   AD  AND  1961
5          6                             Angola   AO  AGO  1961
6          7                           Anguilla   AI  AIA  1961
7          8                Antigua and Barbuda   AG  ATG  1961
8          9                          Argentina   AR  ARG  1961
10        11  Aruba, Kingdom of the Netherlands   AW  ABW  1961

    temperature_change                                          Indicator  \
0               -0.113  Temperature change with respect to a baseline ...
1                0.627  Temperature change with respect to a baseline ...
2                0.164  Temperature change with respect to a baseline ...
3                0.079  Temperature change with respect to a baseline ...
4                0.736  Temperature change with respect to a baseline ...
5                0.041  Temperature change with respect to a baseline ...
6                0.086  Temperature change with respect to a baseline ...
7                0.090  Temperature change with respect to a baseline ...
8                0.122  Temperature change with respect to a baseline ...
10              -0.100  Temperature change with respect to a baseline ...

              Unit                                             Source  \
0   Degree Celsius  Food and Agriculture Organization of the Unite...
1   Degree Celsius  Food and Agriculture Organization of the Unite...
2   Degree Celsius  Food and Agriculture Organization of the Unite...
3   Degree Celsius  Food and Agriculture Organization of the Unite...
4   Degree Celsius  Food and Agriculture Organization of the Unite...
5   Degree Celsius  Food and Agriculture Organization of the Unite...
6   Degree Celsius  Food and Agriculture Organization of the Unite...
7   Degree Celsius  Food and Agriculture Organization of the Unite...
8   Degree Celsius  Food and Agriculture Organization of the Unite...
10  Degree Celsius  Food and Agriculture Organization of the Unite...

   CTS_Code                    CTS_Name  \
0      ECCS  Surface Temperature Change
1      ECCS  Surface Temperature Change
2      ECCS  Surface Temperature Change
3      ECCS  Surface Temperature Change
4      ECCS  Surface Temperature Change
5      ECCS  Surface Temperature Change
6      ECCS  Surface Temperature Change
7      ECCS  Surface Temperature Change
8      ECCS  Surface Temperature Change
10     ECCS  Surface Temperature Change

                                  CTS_Full_Descriptor
0   Environment, Climate Change, Climate Indicator...
1   Environment, Climate Change, Climate Indicator...
2   Environment, Climate Change, Climate Indicator...
3   Environment, Climate Change, Climate Indicator...
4   Environment, Climate Change, Climate Indicator...
5   Environment, Climate Change, Climate Indicator...
6   Environment, Climate Change, Climate Indicator...
7   Environment, Climate Change, Climate Indicator...
8   Environment, Climate Change, Climate Indicator...
10  Environment, Climate Change, Climate Indicator...

üíæ SAVING CLEANED DATA
------------------------------------------------------------
‚úÖ Saved to: /home/jovyan/data/climate_data_long.csv
   Size: 12,460 rows

üóÑÔ∏è  LOADING TO POSTGRESQL
------------------------------------------------------------
Loading data... (this may take 30-60 seconds)
‚úÖ Loaded 12,460 rows to PostgreSQL!
‚ùå Error loading to PostgreSQL: Not an executable object: 'SELECT COUNT(*) FROM climate_indicators;'

üîß CREATING INDEXES
------------------------------------------------------------
‚ö†Ô∏è  Index creation: Not an executable object: 'CREATE INDEX IF NOT EXISTS idx_country ON climate_indicators(country);'

============================================================
‚úÖ TRANSFORMATION & LOADING COMPLETE!
============================================================

üìã DATABASE READY FOR:
   - Phase 2.1: SQL Queries
   - Phase 3: EDA
   - Phase 4-6: Regression, Logistic, Clustering
============================================================

In [3]:
# ... despu√©s de crear df_clean ...

# Convertir nombres de columnas a min√∫sculas
df_clean.columns = df_clean.columns.str.lower()

print("‚úÖ Column names converted to lowercase")
print(f"Columns: {df_clean.columns.tolist()}")

# Ahora cargar a PostgreSQL
df_clean.to_sql(
    'climate_indicators',
    engine,
    if_exists='replace',
    index=False,
    method='multi',
    chunksize=1000
)

‚úÖ Column names converted to lowercase
Columns: ['objectid', 'country', 'iso2', 'iso3', 'year', 'temperature_change', 'indicator', 'unit', 'source', 'cts_code', 'cts_name', 'cts_full_descriptor']

12460